
<% if (!locals.user) {%>
    <h1> Be A Part Of Codial:The Discussion Forum</h1>
    <a href="/user/signup" >  <h4>Sign Up</h4> </a>
    <h2> Already A Member :</h2> &nbsp <a href="/user/signin"> <h4>Sign In</h4></a>
    <link rel="stylesheet" href="/css/home.css">
<%} else {%>
    <link rel="stylesheet" href="/css/home1.css">

    <%-include('post_home');%>







    
    
<%} %>