<base href="/">
<html>
    <head>
        <title>

        </title>
        
        <link rel="stylesheet" href="/css/layout.css">
        
    </head>
    <body>
        <%-include('header');%>
        <%-body%>
    </body>
</html>