<base href="/">

<link   rel="stylesheet" type="text/css" href="/css/layout.css">
<a href="/"><h4>Back To Home Page</h4></a>
<h1>
    Codial?Profile Page
</h1>
<p><%=user.name%></p>
<p><%=user.email%></p>

<h1>Posts</h1>
<form action="/user/addpost" method="POST">
    <textarea style="display: block; text-align: center; margin-left: 30vw;" name="posts" cols="30" rows="3" placeholder="Your posts goes here"></textarea>
    <button type="submit">ADD</button>
</form>

<% if(typeof posts != 'undefined') {
for(let i of posts){%>
    <div id ="inner" >
     
         <%=i.content%> 
         
        
    </div>
    <br>
    <br>

        
 <%} }%> 