<base href="/">
<link   rel="stylesheet" type="text/css" href="/css/layout.css">
<h1>
    Codial?Profile Page
</h1>
<p><%=user.name%></p>
<p><%=user.email%></p>
<h1>Posts</h1>
<form action="" method="POST">
    <textarea style="display: block; text-align: center; margin-left: 30vw;" name="posts" cols="30" rows="3" placeholder="Your posts goes here"></textarea>
    <button type="submit">ADD</button>
</form>