<h1>SIgnUp Page</h1>

<form action="/user/signup-action" method="POST">

    <input name="name" type="text" placeholder="Name">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="text" placeholder="password">
    <input name="confirm-password" type="text" placeholder="confirm-password">
    <button type="submit" >SIgnUp</button>
</form>
<a href="/user/auth/google">SIGNIN/SIGNUP by google</a>