<h1>SIgnIn Page</h1>
<form action="/user/create-session" method="POST">

   
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="text" placeholder="password">
    
    <button type="submit" >SIgnIN</button>
</form>

