body{
    background-repeat: no-repeat;
    background-size: cover;
   // background-blend-mode:hard-light;
    //color: white;
    a{
       // color: white;
        
    }
    a:hover{
        transition: all 1s ease-in-out;
        font-size: larger;
        overflow: visible;
        
    }
    background-image:url('https://previews.123rf.com/images/kotkoa/kotkoa1504/kotkoa150400102/39041989-abstract-blue-light-background-for-science-design-vector-illustration-.jpg');
}